@import url("https://fonts.googleapis.com/css2?family=Barlow:ital@1&family=Montserrat:ital@1&family=Noto+Sans&family=Poppins:wght@500&family=Source+Sans+Pro&family=Source+Serif+Pro&display=swap");

#skills {
  // border: 2px solid red;
  width: 80%;
  height: 120vh;
  margin: 0 auto;
  margin-top: 100px;
  > h2 {
    font-size: 50px;
    margin: 0 auto;
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 5px;
    padding: 20px;
    border-bottom: 2px solid rgba(102, 100, 100, 0.13);
    text-shadow: 1px 5px 2px rgba(238, 232, 211, 0.5);
  }
}
.skillupper {
  //   border: 2px solid red;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  // background-color: #2196F3;

  padding: 10px;
  .reactjs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // border: 2px solid #64ffda;
  }
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    // object-fit: contain;
  }
  .imgskill:hover {
    transform: scale(1.05);
    transition: 0.75s all ease-in-out;
  }
  h4 {
    border-bottom: 2px solid #64ffdb1c;
    border-top: 2px solid #64ffdb1c;
    border-left: 2px solid #64ffdb1c;
    width: 50%;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    color: #64ffda;
  }
}
